.DS_Store
.idea
.sass-cache
bower_components
jspm_packages
node_modules
vendor
debug.log
Thumbs.db
composer.lock
index.php
languages

# wordpress specific
uploads/*
upgrade/*
backup-db/*
advanced-cache.php
object-cache.php
themes/index.php

themes/*
!themes/playground_theme

plugins/*

